body {
	zoom: 0.5;
}
.wgs {
	width: 320px;
	height: 241px;
	position: relative;
	display: inline-block;
	overflow: hidden;
	background-color: #886124;
}

.wgs__mole-head {
	width: 188px;
	height: 178px;
	position: absolute;
	right: 77.5px;
	top: 0;
	transition: top 0.25s;
	z-index: 0;
}

/* .wgs__mole-head:nth-child(n + 4) {
	z-index: 2;
} */

.wgs__mole-head--hidden {
	top: 241px;
}

.wgs__dirt-pile {
	width: 320px;
	height: 110px;
	position: absolute;
	bottom: 0;
	z-index: 2;
}
.pf {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
  background-color: #886124;
}

.pf__cover {
	width: 100%;
	position: absolute;
	height: 55px;
	background-color: #886124;
	bottom: 0;
	left: 0;
	z-index: 1;
}
