.wgs {
  width: 640px;
  height: 482px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.wgs__mole-head {
  width: 376px;
  height: 356px;
  position: absolute;
  right: 155px;
  top: 0;
}

.wgs__mole-head--hidden {
  top: 482px;
}

.wgs__dirt-pile {
  width: 640px;
  height: 220px;
  position: absolute;
  bottom: 0;
}
